# Database
DATABASE_URL="postgresql://neondb_owner:npg_ZbpMxa3uinq6@ep-dry-morning-al10jz9v-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT
JWT_SECRET="your-jwt-secret-key"

# Email (Resend)
RESEND_API_KEY="your-resend-api-key"
RESEND_FROM_EMAIL="noreply@yourdomain.com"